.topnav a.active {
    color: white;
  }

  .topnav {
    overflow: hidden;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
  }

  button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    padding: 14px 16px;
    float: left;
  }

  .topnav a {
    float: left;
    color: gainsboro;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
  }

  .topnav a:hover {
    color: white;
  }

.contbut{  
    color:white;
    background-color: red;
    border-radius: 25px;
  }

body{
    background-image: url("estudio-de-grabacion-en-barcelona-koala-studios.jpg");
}

.clients {
    float: left;
    overflow: hidden;
  }

  .services {
    float: left;
    overflow: hidden;
  }

  .clients-content {
    display: none;
    position: absolute;
    background-color: orange;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .clients-content a{
    color: #f9f9f9;
  }

  .clients-content a:hover{
    color: white;
  }

  .services-content {
    display: none;
    position: absolute;
    background-color: orange;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .services-content a {
    color: #f9f9f9;
  }

  .services-content a:hover {
    color: white;
  }

  .services:hover .services-content {
    display: block;
  }

  .clients:hover .clients-content {
    display: block;
  }

.clients-but{
    color:#f9f9f9;
}

.services-but{
    color:#f9f9f9;
}

.services-but:hover{
    color:white;
}

.clients-but:hover{
    color:white;
}

.first-text {
  color:white;
}